//COLORI
$primary-color: #0B4875;
$secondary-color: #000;

$grey-color: #EDEDED;
$green-color: #009870;

$card-color:#272842;

//TESTI
$titolo-font: 2.8rem;
$sottotitolo-font: 1.5rem;

$titolo-font-large: 1.9rem;
$sottotitolo-font-large: 1.2rem;

$titolo-font-mobile: 1.5rem;
$sottotitolo-font-mobile: 1rem;



//Bootstrap custom
.btn-primary {
    color: white;
    background-color: $primary-color;
    border-color: $primary-color;
    border-radius: 12px !important;
}

.btn-primary:hover {
    background-color: #0e598e;
    border-color: #0e598e;
}

.btn-outline-primary {
    color: $primary-color;
    background-color: transparent;
    background-image: none;
    border-color: $primary-color;
    border-radius: 12px !important;
}

.btn-outline-primary:hover {
    background-color: $primary-color;
    border-color: $primary-color;
}

.bg-light {
    background-color: white !important;
}




//LANDIN GPAGE


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #fff;
    overflow-x: hidden;
}

.img-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
  }
  .img-container .img-to-fit {
    flex: 1;
    height: 100%;
  }

.form-control {
    background-color: $grey-color;
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: 30px 10px;
}

//NAVBAR

.navbar {
    
}
.navbar-brand img {
    height: 60px;
}

.nav-item {
    font-size: 1rem;
    padding-right:10px;
    font-weight: bold;
}


.btn-dashboard {
    border-radius: 10px;
    color: white !important;
    font-weight: 300;
}



.border-bottom-primary {
    border-bottom: 1px solid #1f6b9e;
}

.box-titolo {
    padding-top: 100px;
    padding-bottom: 50px;
}

.color-white {
    color: white;
}

.subtitle-no-color {
    font-size: $sottotitolo-font;
}

.title {
    color: $primary-color;
    font-size: $titolo-font;
    font-weight: bold;
}

.title-black {
    color: black;
    font-size: $titolo-font;
    font-weight: bold;
}

span {
    color: $primary-color;
}

.subtitle {
    color: $secondary-color;
    font-size: $sottotitolo-font;
}

// PRIMA SEZIONE

.sezione-uno {
    
    background:url('https://origami_gian.gitlab.io/visitas_landingpage/assets/images/cerchi.svg'), linear-gradient(to right, #3F6C90, #A3D5ED);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 120px;
}

.sezione-uno__titolo {
    color: #272844;
}


.prima-sezione__colonna-img img {
    width: 60%;
}

.prima-sezione__colonna-img {
    padding-top: 50px;
    padding-bottom: 50px;
}

.sezione-uno__icon-store img {
    height: 60px;
}

// SECONDA SEZIONE

.sezione-due__padding-sx {
    padding-left: 100px;
}

.sezione-due__box-step {
    padding: 0 100px;
    .col {
        background-color:$grey-color;
        padding: 50px;
        border-radius: 40px;
    }
}

.sezione-due__titoli-step {
    color: $green-color;
    font-weight: bold;
    font-size: 1.8rem;
}

.sezione-due__sottotitoli-step {
    font-size: 1.5rem;
    color: $secondary-color;
}

.sezione-due__icon-step{
    width: 15%;
    height: auto;
}

.sezione-due__image-step{
    width: 80%;
    height: auto;
}

//TERZA SEZIONE
.terza-sezione__row-margin-top {
    margin-top: 40px;
} 

.terza-sezione__row-padding-left {
    padding-left: 50px;
}

.terza-sezione__row-padding-right {
    padding-right: 50px;
}

.terza-sezione__row {
    background-color: white;
}

.terza-sezione__box-inside-row {
    background-color: $grey-color;
    padding-top: 20px;
}

.terza-sezione__aspet-ratio-box {
    position: relative;
    height: 0;
    padding-top: 66.66%;
}
.terza-sezione__aspet-ratio-box-inside {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.terza-sezione__img-big {
    width: 55% !important;
}

.terza-sezione__row img {
    width: 45%;
    height: auto;
} 
.terza-sezione__titolo-colonna {
    font-weight: bold;
    font-size: $titolo-font;
    padding-bottom: 40px;
}

.terza-sottotitolo-colonna {
    font-size: $sottotitolo-font;
}

//QUARTA SEZIONE
.quarta-sezione__subtitle {
    color: $primary-color;
    font-size: $sottotitolo-font;
    font-weight: bold;
}

.quarta-sezione__box-lista li::marker {
    color: $primary-color;
    font-size: 2rem;
}

.quarta-sezione__box-lista li {
    padding-bottom: 30px;
    font-size: $sottotitolo-font;
    font-weight: 400;

}

.quarta-sezione__btn-primary {
    font-size: 1rem;
    padding: 20px 30px;
}
.quarta-sezione__btn-outline {
    font-size: 1rem;
    padding: 20px 50px;
}

.quarta-sezione__aspet-ratio-box {
    position: relative;
    height: 0;
    padding-top: 66.66%;
}
.quarta-sezione__aspet-ratio-box-inside {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.quarta-sezione__row {
    padding: 100px;
}

.quarta-sezione__row img {
    width: 45%;
    height: auto;
} 


//quinta sezione
.quinta-sezione__row {
    padding: 0 100px;
}

.quinta-sezione__box-data{
    border-radius: 20px;
    padding: 100px 50px;
    background-image: linear-gradient(to right, #3F6C90, #A3D5ED);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

.quinta-sezione__box-data__prima-riga__testo {
    padding: 50px;
}

.quinta-sezione__box-data__seconda-riga {
padding: 50px;
}

.quinta-sezione__box-data img {
    width: 50%;
}

.quinta-sezione__step {
    padding-bottom: 50px;
}

.quinta-sezione__title {
    color: $primary-color;
    font-size: $titolo-font;
    font-weight: bold;
}

.quinta-sezione__subtitle {
font-size: $sottotitolo-font;


}

//sesta sezione
.sesta-sezione__subtitle {
    font-size: $sottotitolo-font;
    font-weight: bold;
}

.sesta-sezione__row {
    background-color: white;
}

.sesta-sezione__box-inside-row {
    background-color: white;
    padding-top: 20px;
}

.sesta-sezione__aspet-ratio-box {
    position: relative;
    height: 0;
    padding-top: 66.66%;
}
.sesta-sezione__aspet-ratio-box-inside {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.sesta-sezione__row img {
    width: 70%;
    height: auto;
} 
.sesta-sezione__titolo-colonna {
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 20px;
    color: #4DB0ED;
}

.sesta-sezione__sottotitolo-colonna {
    font-size: 1.8rem;
}

//SETTIMA SEZIONE

.settima-sezione {
    padding-bottom: 30px;
}


// CARD
.card-btn {
    font-size: 1rem;
    padding: 20px 50px;
    font-weight: bold;
}
.card-btn-iscriviti {
    font-size: 1rem;
    padding: 20px 72px;
    font-weight: bold;
}

.card-column {
    padding-top: 30px;
}

.card-box {
    background-color: $grey-color;
    padding: 20px;
    border-radius: 20px;

}

.card-box-data {
    height: 750px;
    width: 315px;
    border: 1px solid $primary-color;
    border-radius: 35px;
    padding: 10px;
}

.card-box-data__title {
    font-size: 2rem;
    color: $primary-color;
    font-weight: bold;
}

.card-box-data ul {
    font-size: 1.3rem;

}

.card-box-data li {
    padding-bottom: 10px;
}

.card-box-data li::marker {
    color: $primary-color;
    font-size: 1.5rem;
    vertical-align: bottom;
}

.card-box-data__price-row {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 30px;
}
.card-box-data__price-text{
    font-size: 1.5;
    color: $secondary-color;
}

.card-box-data__price-row img{
    width: 20%;
}

//Seconda card
.card-due-btn {
    background-color: $grey-color;
    border-color: $grey-color;
    color: black;
}

.card-due-column {
    padding-top: 30px;
}

.card-due-box {
    background-color: white;
    border: 1px solid $primary-color;
    padding: 20px;
    border-radius: 20px;

}

.card-due-box-data {
    color: white;
    height: 750px;
    width: 315px;
    background-color: $card-color;
    border-radius: 35px;
    padding: 10px;
}

.card-due-box-data__title {
    font-size: 2rem;
    
    font-weight: bold;
}

.card-due-box-data ul {
    font-size: 1.3rem;

}

.card-due-box-data li {
    padding-bottom: 10px;
}

.card-due-box-data li::marker {
    color: white;
    font-size: 1.5rem;
    vertical-align: bottom;
}

.card-box-data button {
    color: white !important;
}

.card-due-box-data__price-row {
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 30px;
}
.card-due-box-data__price-text{
    font-size: 1.5rem;
    
}

.card-due-box-data__price-row img{
    width: 20%;
}


// sezione otto
.ottava-sezione__img-background {
    background-image: linear-gradient(to right, #3F6C90, #A3D5ED); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ottava-sezione__row{
    padding: 80px 0;
}

.ottava-sezione__box-data {
    padding: 80px 150px;
    background-color: $grey-color;
}

.ottava-sezione__label-form {
    color: $primary-color;
    font-size: 20px;
    font-weight: bold;
}

.ottava-sezione__btn {
    padding: 20px 100px;
    font-size: 1rem;
}

//FOOTER

.footer-gradient {
    background-image: linear-gradient(to right, #3F6C90, #A3D5ED);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:100px;
}

.footer-gradient img {
    height: 200px;
}

.footer-text {
    font-size: 1rem;
    color: $grey-color;
}
.grsport-img img{
    height: 50px;
}

.icon-img img {
    width: 10%;
}

.privacy {
    background-color: #E6E6E6;
    padding: 10px;
    font-size: 0.8rem;
    width: 100%;
    color: #666;
}
.privacy span {
    color: #666;
}
.privacy a {
    color: #666;
}



//MEDIA QUERIES
@media screen and (max-width: 540px) {
    //NAVBAR
    .navbar {
        
    }
    .navbar-brand img {
        height: 50px;
    }
    //LANDING
    .box-titolo {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .title {
        color: $primary-color;
        font-size: $titolo-font-mobile;
        font-weight: bold;
    }
    
    .title-black {
        color: black;
        font-size: $titolo-font-mobile;
        font-weight: bold;
    }
    .subtitle {
        color: $secondary-color;
        font-size: $sottotitolo-font-mobile;
    }
    .subtitle-no-color {
        font-size: $sottotitolo-font-mobile;
    }

    //SEZIONE DUE

    .sezione-due__padding-sx {
        padding-left: 30px;
    }

    .sezione-due__box-step {
        padding: 0 30px;
    }
    .sezione-due__box-step .col {
        background-color: #EDEDED;
        padding: 35px;
        border-radius: 20px;
    }
    .sezione-due__icon-step{
        width: 10%;
        height: auto;
    }

    //SEZIONE TRE
    .terza-sezione__titolo-colonna {
        font-weight: bold;
        font-size: $titolo-font-mobile;
        padding-bottom: 20px;
    }
    
    .terza-sottotitolo-colonna {
        font-size: $sottotitolo-font-mobile;
    }

    .terza-sezione__row-margin-top {
        margin-top: 20px;
    } 
    
    .terza-sezione__row-padding-left {
        padding-left: 30px;
    }
    
    .terza-sezione__row-padding-right {
        padding-right: 30px;
    }
    .terza-sezione__scanner__padding-left {
        padding-left: 35px;
    }

    //QUARTA SEZIONE
.quarta-sezione__subtitle {
    color: $primary-color;
    font-size: $sottotitolo-font-mobile;
    font-weight: bold;
}

.quarta-sezione__box-lista li::marker {
    color: $primary-color;
    font-size: 1rem;
}

.quarta-sezione__box-lista li {
    padding-bottom: 30px;
    font-size: $sottotitolo-font-mobile;
    font-weight: 400;

}

.quarta-sezione__btn-primary {
    font-size: 0.8rem;
    padding: 20px 30px;
}
.quarta-sezione__btn-outline {
    font-size: 0.8rem;
    padding: 20px 40px;
}
.quarta-sezione__row {
    padding: 20px;
}

//quinta sezione
.quinta-sezione__row {
    padding: 0 20px;
}

.quinta-sezione__box-data{
    padding: 20px;
} 

.quinta-sezione__box-data__prima-riga__testo {
    padding: 20px;
}

.quinta-sezione__box-data__seconda-riga {
padding: 20px;
}

.quinta-sezione__box-data img {
    width: 50%;
}

.quinta-sezione__step {
    padding-bottom: 50px;
}

.quinta-sezione__step-mobile {
    padding-bottom: 50px;
}

.quinta-sezione__title {
    color: $primary-color;
    font-size: $titolo-font-mobile;
    font-weight: bold;
}

.quinta-sezione__subtitle {
font-size: $sottotitolo-font-mobile;
font-weight: bold;

}

//sesta sezione
.sesta-sezione__subtitle {
    font-size: $sottotitolo-font-mobile;
    font-weight: bold;
}

.sesta-sezione__box-inside-row {
    background-color: white;
    padding-top: 20px;
}

.sesta-sezione__titolo-colonna {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 20px;
    color: #4DB0ED;
}

.sesta-sezione__sottotitolo-colonna {
    font-size: 1rem;
}

//OTTAVA SEZIONE
.ottava-sezione__row{
    padding: 0;
}

.ottava-sezione__box-data {
    padding: 50px 50px;
    background-color: $grey-color;
}
//FOOTER

.footer-gradient {
    padding:20px;
}

.footer-gradient img {
    height: 100px;
}

.footer-text {
    font-size: 1rem;
}
.grsport-img img{
    height: 50px;
}

.icon-img img {
    width: 10%;
}

.privacy {
    background-color: #E6E6E6;
    padding: 10px;
    font-size: 0.8rem;
    width: 100%;
    color: #666;
}


}




@media screen and (min-width: 541px) and (max-width: 991px)  {
    //NAVBAR
    .navbar {
        
    }
    .navbar-brand img {
        height: 60px;
    }
    //LANDING
    .box-titolo {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .title {
        color: $primary-color;
        font-size: $titolo-font-mobile;
        font-weight: bold;
    }
    
    .title-black {
        color: black;
        font-size: $titolo-font-mobile;
        font-weight: bold;
    }
    .subtitle {
        color: $secondary-color;
        font-size: $sottotitolo-font-mobile;
    }
    .subtitle-no-color {
        font-size: $sottotitolo-font-mobile;
    }

    //SEZIONE DUE
    .sezione-due__box-step {
        padding: 0 30px;
    }
    .sezione-due__box-step .col {
        background-color: #EDEDED;
        padding: 35px;
        border-radius: 20px;
    }
    .sezione-due__icon-step{
        width: 10%;
        height: auto;
    }

    //SEZIONE TRE
    .terza-sezione__titolo-colonna {
        font-weight: bold;
        font-size: $titolo-font-mobile;
        padding-bottom: 20px;
    }
    
    .terza-sottotitolo-colonna {
        font-size: $sottotitolo-font-mobile;
    }

    .terza-sezione__row-margin-top {
        margin-top: 20px;
    } 
    
    .terza-sezione__row-padding-left {
        padding-left: 30px;
    }
    
    .terza-sezione__row-padding-right {
        padding-right: 30px;
    }

    //QUARTA SEZIONE
.quarta-sezione__subtitle {
    color: $primary-color;
    font-size: $sottotitolo-font-mobile;
    font-weight: bold;
}

.quarta-sezione__box-lista li::marker {
    color: $primary-color;
    font-size: 1rem;
}

.quarta-sezione__box-lista li {
    padding-bottom: 30px;
    font-size: $sottotitolo-font-mobile;
    font-weight: 400;

}

.quarta-sezione__btn-primary {
    font-size: 0.8rem;
    padding: 20px 30px;
}
.quarta-sezione__btn-outline {
    font-size: 0.8rem;
    padding: 20px 40px;
}
.quarta-sezione__row {
    padding: 20px;
}

//quinta sezione
.quinta-sezione__row {
    padding: 0 20px;
}

.quinta-sezione__box-data{
    padding: 20px 50px;
} 

.quinta-sezione__box-data__prima-riga__testo {
    padding: 20px;
}

.quinta-sezione__box-data__seconda-riga {
padding: 20px;
}

.quinta-sezione__box-data img {
    width: 50%;
}

.quinta-sezione__step {
    padding-bottom: 50px;
}

.quinta-sezione__step-mobile {
    padding-bottom: 50px;
}

.quinta-sezione__title {
    color: $primary-color;
    font-size: $titolo-font-mobile;
    font-weight: bold;
}

.quinta-sezione__subtitle {
font-size: $sottotitolo-font-mobile;
font-weight: bold;

}

//sesta sezione
.sesta-sezione__subtitle {
    font-size: $sottotitolo-font-mobile;
    font-weight: bold;
}

.sesta-sezione__box-inside-row {
    background-color: white;
    padding-top: 20px;
}

.sesta-sezione__titolo-colonna {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 20px;
    color: #4DB0ED;
}

.sesta-sezione__sottotitolo-colonna {
    font-size: 1rem;
}

//OTTAVA SEZIONE
.ottava-sezione__row{
    padding: 0;
}

.ottava-sezione__box-data {
    padding: 50px 50px;
    background-color: $grey-color;
}
//FOOTER

.footer-gradient {
    padding:20px;
}

.footer-gradient img {
    height: 100px;
}

.footer-text {
    font-size: 1rem;
}
.grsport-img img{
    height: 50px;
}

.icon-img img {
    width: 10%;
}

.privacy {
    background-color: #E6E6E6;
    padding: 10px;
    font-size: 0.8rem;
    width: 100%;
    color: #666;
}


}



@media screen and (min-width: 992px) and (max-width: 1299px)  {

     //NAVBAR
     .navbar {
        
    }
    .navbar-brand img {
        height: 60px;
    }
    //LANDING
    .box-titolo {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .title {
        color: $primary-color;
        font-size: $titolo-font-large;
        font-weight: bold;
    }
    
    .title-black {
        color: black;
        font-size: $titolo-font-large;
        font-weight: bold;
    }
    .subtitle {
        color: $secondary-color;
        font-size: $sottotitolo-font-large;
    }
    .subtitle-no-color {
        font-size: $sottotitolo-font-large;
    }

    //SEZIONE DUE
    .sezione-due__box-step {
        padding: 0 30px;
    }
    .sezione-due__box-step--riga-uno{
        padding-top: 100px;
    }
    .sezione-due__box-step--riga-due{
        padding-top: 100px;
    }
    .sezione-due__box-step .col {
        background-color: #EDEDED;
        padding: 35px;
        border-radius: 20px;
    }
    .sezione-due__icon-step{
        width: 10%;
        height: auto;
    }

    //SEZIONE TRE
    .terza-sezione__titolo-colonna {
        font-weight: bold;
        font-size: $titolo-font-large;
        padding-bottom: 20px;
    }
    
    .terza-sottotitolo-colonna {
        font-size: $sottotitolo-font-large;
    }

    .terza-sezione__row-margin-top {
        margin-top: 20px;
    } 
    
    .terza-sezione__row-padding-left {
        padding-left: 30px;
    }
    
    .terza-sezione__row-padding-right {
        padding-right: 30px;
    }

    //QUARTA SEZIONE
.quarta-sezione__subtitle {
    color: $primary-color;
    font-size: $sottotitolo-font-large;
    font-weight: bold;
}

.quarta-sezione__box-lista li::marker {
    color: $primary-color;
    font-size: 1rem;
}

.quarta-sezione__box-lista li {
    padding-bottom: 30px;
    font-size: $sottotitolo-font-large;
    font-weight: 400;

}

.quarta-sezione__btn-primary {
    font-size: 1rem;
    padding: 20px 30px;
}
.quarta-sezione__btn-outline {
    font-size: 1rem;
    padding: 20px 40px;
}
.quarta-sezione__row {
    padding: 20px;
}

//quinta sezione
.quinta-sezione__row {
    padding: 0 20px;
}

.quinta-sezione__box-data{
    padding: 40px 20px;
} 

.quinta-sezione__box-data__prima-riga__testo {
    padding: 20px;
}

.quinta-sezione__box-data__seconda-riga {
padding: 20px;
}

.quinta-sezione__box-data img {
    width: 50%;
}

.quinta-sezione__step {
    padding-bottom: 50px;
}

.quinta-sezione__title {
    color: $primary-color;
    font-size: $titolo-font-large;
    font-weight: bold;
}

.quinta-sezione__subtitle {
font-size: $sottotitolo-font-large;
font-weight: bold;

}

//sesta sezione
.sesta-sezione__subtitle {
    font-size: $sottotitolo-font-large;
    font-weight: bold;
}

.sesta-sezione__box-inside-row {
    background-color: white;
    padding-top: 20px;
}

.sesta-sezione__titolo-colonna {
    font-weight: bold;
    font-size: 1.4rem;
    padding-bottom: 20px;
    color: #4DB0ED;
}

.sesta-sezione__sottotitolo-colonna {
    font-size: 1.2rem;
}

//OTTAVA SEZIONE
.ottava-sezione__row{
    padding: 0;
}

.ottava-sezione__box-data {
    padding: 50px 50px;
    background-color: $grey-color;
}
//FOOTER

.footer-gradient {
    padding:20px;
}

.footer-gradient img {
    height: 150px;
}

.footer-text {
    font-size: 1rem;
}
.grsport-img img{
    height: 50px;
}

.icon-img img {
    width: 10%;
}

.privacy {
    background-color: #E6E6E6;
    padding: 10px;
    font-size: 0.8rem;
    width: 100%;
    color: #666;
}



    //CARD
    .card-btn {
        padding: 15px 50px;
    }
    .card-btn-iscriviti {
        padding: 15px 72px;
    }
    .card-box-data {
        height: 600px;
        width: 260px;
        border: 1px solid $primary-color;
        border-radius: 35px;
        padding: 10px;
    }
    .card-box-data__title {
        font-size: 2rem;
        color: $primary-color;
        font-weight: bold;
    }
    
    .card-box-data ul {
        font-size: 1rem;
    
    }
    
    .card-box-data li {
        padding-bottom: 5px;
    }
    
    .card-box-data li::marker {
        color: $primary-color;
        font-size: 1rem;
        vertical-align: bottom;
    }
    
    .card-box-data__price-row {
        font-size: 1.1rem;
        font-weight: bold;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .card-box-data__price-text{
        font-size: 1.1rem;
        color: $secondary-color;
    }

    .card-due-box-data {
        color: white;
        height: 600px;
        width: 260px;
        background-color: $card-color;
        border-radius: 35px;
        padding: 10px;
    }
    
    .card-due-box-data__title {
        font-size: 2rem;
        
        font-weight: bold;
    }
    
    .card-due-box-data ul {
        font-size: 1rem;
    
    }
    
    .card-due-box-data li {
        padding-bottom: 5px;
    }
    
    .card-due-box-data li::marker {
        color: white;
        font-size: 1rem;
        vertical-align: bottom;
    }
    
    .card-box-data button {
        color: $secondary-color;
    }
    
    .card-due-box-data__price-row {
        font-size: 1.1rem;
        font-weight: bold;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .card-due-box-data__price-text{
        font-size: 1.1rem;
       
    }
}

@media screen and (min-width: 1300px) {

.sezione-due__box-step--riga-uno{
    padding-top: 100px;
}
.sezione-due__box-step--riga-due{
    padding-top: 100px;
}

//CARD
    .card-box-data {
        height: 700px;
        width: 350px;
        border: 1px solid $primary-color;
        border-radius: 35px;
        padding: 10px;
    }
    .card-box-data__title {
        font-size: 2rem;
        color: $primary-color;
        font-weight: bold;
    }
    
    .card-box-data ul {
        font-size: 1.3rem;
    
    }
    
    .card-box-data li {
        padding-bottom: 10px;
    }
    
    .card-box-data li::marker {
        color: $primary-color;
        font-size: 1.5rem;
        vertical-align: bottom;
    }
    
    .card-box-data__price-row {
        font-size: 1.5rem;
        font-weight: bold;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .card-box-data__price-text{
        font-size: 1.5rem;
        color: $secondary-color;
    }

    .card-due-box-data {
        color: white;
        height: 700px;
        width: 350px;
        background-color: $card-color;
        border-radius: 35px;
        padding: 10px;
    }
    
    .card-due-box-data__title {
        font-size: 2rem;
        
        font-weight: bold;
    }
    
    .card-due-box-data ul {
        font-size: 1.3rem;
    
    }
    
    .card-due-box-data li {
        padding-bottom: 5px;
    }
    
    .card-due-box-data li::marker {
        color: white;
        font-size: 1.5rem;
        vertical-align: bottom;
    }
    
    .card-box-data button {
        color: $secondary-color;
    }
    
    .card-due-box-data__price-row {
        font-size: 1.5rem;
        font-weight: bold;
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .card-due-box-data__price-text{
        font-size: 1.5rem;
        
    }
}

