.btn-primary {
  color: white;
  background-color: #0B4875;
  border-color: #0B4875;
  border-radius: 15px !important;
}

.btn-outline-primary {
  color: #0B4875;
  background-color: transparent;
  background-image: none;
  border-color: #0B4875;
}

.bg-light {
  background-color: transparent !important;
}

body {
  background-color: #fff;
}

.img-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

.img-container .img-to-fit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.form-control {
  background-color: #EDEDED;
  border: 1px solid #0B4875;
  border-radius: 10px;
  padding: 30px 10px;
}

.navbar-brand img {
  height: 100px;
}

.nav-item {
  font-size: 1rem;
  padding-right: 10px;
  font-weight: bold;
}

.btn-dashboard {
  border-radius: 10px;
}

.border-bottom-primary {
  border-bottom: 1px solid #0B4875;
}

.box-titolo {
  padding-top: 50px;
  padding-bottom: 50px;
}

.color-white {
  color: white;
}

.subtitle-no-color {
  font-size: 2rem;
}

.title {
  color: #0B4875;
  font-size: 3rem;
  font-weight: bold;
}

.title-black {
  color: black;
  font-size: 3rem;
  font-weight: bold;
}

span {
  color: #0B4875;
}

.subtitle {
  color: #000;
  font-size: 2rem;
}

.sezione-uno {
  background-image: url("/assets/images/sfondo-cerchi.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.prima-sezione__colonna-img img {
  width: 60%;
}

.prima-sezione__colonna-img {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sezione-due__box-step {
  padding: 100px;
}

.sezione-due__box-step .col {
  background-color: #EDEDED;
  padding: 50px;
  border-radius: 20px;
}

.sezione-due__titoli-step {
  color: #009870;
  font-weight: bold;
  font-size: 1.8rem;
}

.sezione-due__sottotitoli-step {
  font-size: 1.5rem;
  color: #000;
}

.sezione-due__icon-step {
  width: 15%;
  height: auto;
}

.sezione-due__image-step {
  width: 80%;
  height: auto;
}

.terza-sezione__row-margin-top {
  margin-top: 40px;
}

.terza-sezione__row-padding-left {
  padding-left: 50px;
}

.terza-sezione__row-padding-right {
  padding-right: 50px;
}

.terza-sezione__row {
  background-color: white;
}

.terza-sezione__box-inside-row {
  background-color: #EDEDED;
  padding-top: 20px;
}

.terza-sezione__aspet-ratio-box {
  position: relative;
  height: 0;
  padding-top: 66.66%;
}

.terza-sezione__aspet-ratio-box-inside {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.terza-sezione__row img {
  width: 45%;
  height: auto;
}

.terza-sezione__titolo-colonna {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 40px;
}

.terza-sottotitolo-colonna {
  font-size: 2rem;
}

.quarta-sezione__subtitle {
  color: #0B4875;
  font-size: 2rem;
  font-weight: bold;
}

.quarta-sezione__box-lista li::marker {
  color: #0B4875;
  font-size: 3rem;
}

.quarta-sezione__box-lista li {
  padding-bottom: 30px;
  font-size: 2rem;
  font-weight: 400;
}

.quarta-sezione__btn-primary {
  font-size: 1rem;
  padding: 20px 30px;
}

.quarta-sezione__btn-outline {
  font-size: 1rem;
  padding: 20px 50px;
}

.quarta-sezione__aspet-ratio-box {
  position: relative;
  height: 0;
  padding-top: 66.66%;
}

.quarta-sezione__aspet-ratio-box-inside {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.quarta-sezione__row {
  padding: 100px;
}

.quarta-sezione__row img {
  width: 45%;
  height: auto;
}

.quinta-sezione__row {
  padding: 100px;
}

.quinta-sezione__box-data {
  border-radius: 20px;
  padding: 50px;
  background-image: url("/assets/images/gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.quinta-sezione__box-data__prima-riga__testo {
  padding: 50px;
}

.quinta-sezione__box-data__seconda-riga {
  padding-top: 50px;
}

.quinta-sezione__box-data img {
  width: 50%;
}

.quinta-sezione__title {
  color: #0B4875;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 30px;
}

.quinta-sezione__subtitle {
  font-size: 2rem;
  font-weight: bold;
}

.sesta-sezione__subtitle {
  font-size: 2rem;
  font-weight: bold;
}

.sesta-sezione__row {
  background-color: white;
}

.sesta-sezione__box-inside-row {
  background-color: white;
  padding-top: 20px;
}

.sesta-sezione__aspet-ratio-box {
  position: relative;
  height: 0;
  padding-top: 66.66%;
}

.sesta-sezione__aspet-ratio-box-inside {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.sesta-sezione__row img {
  width: 70%;
  height: auto;
}

.sesta-sezione__titolo-colonna {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 20px;
  color: #4DB0ED;
}

.sesta-sezione__sottotitolo-colonna {
  font-size: 1.8rem;
}

.card-btn {
  font-size: 1rem;
  padding: 20px 100px;
}

.card-column {
  padding-top: 30px;
}

.card-box {
  background-color: #EDEDED;
  padding: 20px;
  border-radius: 20px;
}

.card-box-data {
  height: 750px;
  width: 315px;
  border: 1px solid #0B4875;
  border-radius: 20px;
  padding: 10px;
}

.card-box-data__title {
  font-size: 2rem;
  color: #0B4875;
  font-weight: bold;
}

.card-box-data ul {
  font-size: 1.3rem;
}

.card-box-data li {
  padding-bottom: 10px;
}

.card-box-data li::marker {
  color: #0B4875;
  font-size: 2rem;
  vertical-align: bottom;
}

.card-box-data__price-row {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 30px;
}

.card-box-data__price-text {
  font-size: 1.5;
  color: #000;
}

.card-box-data__price-row img {
  width: 20%;
}

.card-due-column {
  padding-top: 30px;
}

.card-due-box {
  background-color: white;
  border: 1px solid #0B4875;
  padding: 20px;
  border-radius: 20px;
}

.card-due-box-data {
  color: white;
  height: 750px;
  width: 315px;
  background-color: #272842;
  border-radius: 20px;
  padding: 10px;
}

.card-due-box-data__title {
  font-size: 2rem;
  font-weight: bold;
}

.card-due-box-data ul {
  font-size: 1.3rem;
}

.card-due-box-data li {
  padding-bottom: 10px;
}

.card-due-box-data li::marker {
  color: white;
  font-size: 2rem;
  vertical-align: bottom;
}

.card-box-data button {
  color: #000;
}

.card-due-box-data__price-row {
  font-size: 30px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 30px;
}

.card-due-box-data__price-text {
  font-size: 1.5rem;
  color: white;
}

.card-due-box-data__price-row img {
  width: 20%;
}

.ottava-sezione__img-background {
  background-image: url("/assets/images/gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ottava-sezione__row {
  padding: 80px 0;
}

.ottava-sezione__box-data {
  padding: 80px 150px;
  background-color: #EDEDED;
}

.ottava-sezione__label-form {
  color: #0B4875;
  font-size: 20px;
  font-weight: bold;
}

.ottava-sezione__btn {
  padding: 20px 100px;
  font-size: 1rem;
}

.footer-gradient {
  background-image: url("/assets/images/gradient-footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
}

.footer-gradient img {
  height: 200px;
}

.footer-text {
  font-size: 1rem;
  color: #EDEDED;
}

.grsport-img img {
  height: 50px;
}

.icon-img img {
  width: 10%;
}

.privacy {
  background-color: #E6E6E6;
  padding: 10px;
  font-size: 0.8rem;
  width: 100%;
  color: #666;
}

.privacy span {
  color: #666;
}

.privacy a {
  color: #666;
}

@media screen and (max-width: 540px) {
  .navbar-brand img {
    height: 50px;
  }
  .box-titolo {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .title {
    color: #0B4875;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .title-black {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .subtitle {
    color: #000;
    font-size: 1rem;
  }
  .subtitle-no-color {
    font-size: 1rem;
  }
  .sezione-due__box-step {
    padding: 30px;
  }
  .sezione-due__box-step .col {
    background-color: #EDEDED;
    padding: 35px;
    border-radius: 20px;
  }
  .terza-sezione__titolo-colonna {
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 20px;
  }
  .terza-sottotitolo-colonna {
    font-size: 1rem;
  }
  .terza-sezione__row-margin-top {
    margin-top: 20px;
  }
  .terza-sezione__row-padding-left {
    padding-left: 30px;
  }
  .terza-sezione__row-padding-right {
    padding-right: 30px;
  }
  .quarta-sezione__subtitle {
    color: #0B4875;
    font-size: 1rem;
    font-weight: bold;
  }
  .quarta-sezione__box-lista li::marker {
    color: #0B4875;
    font-size: 1rem;
  }
  .quarta-sezione__box-lista li {
    padding-bottom: 30px;
    font-size: 1rem;
    font-weight: 400;
  }
  .quarta-sezione__btn-primary {
    font-size: 0.5rem;
    padding: 20px 30px;
  }
  .quarta-sezione__btn-outline {
    font-size: 0.5rem;
    padding: 20px 40px;
  }
  .quarta-sezione__row {
    padding: 20px;
  }
  .quinta-sezione__row {
    padding: 20px;
  }
  .quinta-sezione__box-data__prima-riga__testo {
    padding: 20px;
  }
  .quinta-sezione__box-data__seconda-riga {
    padding-top: 20px;
  }
  .quinta-sezione__box-data img {
    width: 50%;
  }
  .quinta-sezione__title {
    color: #0B4875;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .quinta-sezione__subtitle {
    font-size: 1rem;
    font-weight: bold;
  }
  .sesta-sezione__subtitle {
    font-size: 1rem;
    font-weight: bold;
  }
  .sesta-sezione__box-inside-row {
    background-color: white;
    padding-top: 20px;
  }
  .sesta-sezione__titolo-colonna {
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 20px;
    color: #4DB0ED;
  }
  .sesta-sezione__sottotitolo-colonna {
    font-size: 0.8rem;
  }
  .ottava-sezione__row {
    padding: 0;
  }
  .ottava-sezione__box-data {
    padding: 50px 550px;
    background-color: #EDEDED;
  }
  .footer-gradient {
    padding: 20px;
  }
  .footer-gradient img {
    height: 50px;
  }
  .footer-text {
    font-size: 1rem;
  }
  .grsport-img img {
    height: 50px;
  }
  .icon-img img {
    width: 10%;
  }
  .privacy {
    background-color: #E6E6E6;
    padding: 10px;
    font-size: 0.8rem;
    width: 100%;
    color: #666;
  }
}

@media screen and (max-width: 1299px) and (min-width: 992px) {
  .card-box-data {
    height: 650px;
    width: 260px;
    border: 1px solid #0B4875;
    border-radius: 20px;
    padding: 10px;
  }
  .card-box-data__title {
    font-size: 2rem;
    color: #0B4875;
    font-weight: bold;
  }
  .card-box-data ul {
    font-size: 1rem;
  }
  .card-box-data li {
    padding-bottom: 5px;
  }
  .card-box-data li::marker {
    color: #0B4875;
    font-size: 1.5rem;
    vertical-align: bottom;
  }
  .card-box-data__price-row {
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .card-box-data__price-text {
    font-size: 1.1rem;
    color: #000;
  }
  .card-due-box-data {
    color: white;
    height: 650px;
    width: 260px;
    background-color: #272842;
    border-radius: 20px;
    padding: 10px;
  }
  .card-due-box-data__title {
    font-size: 2rem;
    font-weight: bold;
  }
  .card-due-box-data ul {
    font-size: 1rem;
  }
  .card-due-box-data li {
    padding-bottom: 5px;
  }
  .card-due-box-data li::marker {
    color: white;
    font-size: 1.5rem;
    vertical-align: bottom;
  }
  .card-box-data button {
    color: #000;
  }
  .card-due-box-data__price-row {
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .card-due-box-data__price-text {
    font-size: 1.1rem;
    color: white;
  }
}

@media screen and (min-width: 1300px) {
  .card-box-data {
    height: 900px;
    width: 350px;
    border: 1px solid #0B4875;
    border-radius: 20px;
    padding: 10px;
  }
  .card-box-data__title {
    font-size: 2rem;
    color: #0B4875;
    font-weight: bold;
  }
  .card-box-data ul {
    font-size: 1.3rem;
  }
  .card-box-data li {
    padding-bottom: 10px;
  }
  .card-box-data li::marker {
    color: #0B4875;
    font-size: 2rem;
    vertical-align: bottom;
  }
  .card-box-data__price-row {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .card-box-data__price-text {
    font-size: 1.5rem;
    color: #000;
  }
  .card-due-box-data {
    color: white;
    height: 900px;
    width: 350px;
    background-color: #272842;
    border-radius: 20px;
    padding: 10px;
  }
  .card-due-box-data__title {
    font-size: 2rem;
    font-weight: bold;
  }
  .card-due-box-data ul {
    font-size: 1.3rem;
  }
  .card-due-box-data li {
    padding-bottom: 5px;
  }
  .card-due-box-data li::marker {
    color: white;
    font-size: 2rem;
    vertical-align: bottom;
  }
  .card-box-data button {
    color: #000;
  }
  .card-due-box-data__price-row {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .card-due-box-data__price-text {
    font-size: 1.5rem;
    color: white;
  }
}
/*# sourceMappingURL=main.css.map */